Repository Alpha-ka-JS/HTML-CSS-ARTIST, pull requests merged in 2020-08, with the labels that each got.

#1 first pull request for init
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  README.md
Labels: LeeJehwan

#3 upload fetch shell script for fetch
  fetch.sh
Labels: LeeJehwan

#2 [Chapter2] Learning HTML
  leejehwan/chpater2/2.0.Our_First_HTML_File.html
  leejehwan/chpater2/2.10.Semantic_HTML.html
  leejehwan/chpater2/2.2.Our_First_HTML_Tag.html
  leejehwan/chpater2/2.3.More_Tags_and_Prettier.html
  leejehwan/chpater2/2.4.Tag_Attributes.html
  leejehwan/chpater2/2.5.More_Tags_and_Head.html
  leejehwan/chpater2/2.6.Its_All_About_the_Head.html
  leejehwan/chpater2/2.7.More_Tags.html
  leejehwan/chpater2/2.8.Form_Tags.html
  leejehwan/chpater2/2.9.More_Tags_and_IDs.html
Labels: LeeJehwan

#5 [Chapter2] Upload study to chapter2
  jeongsungwon/chapter2/#2.0/ex.html
  jeongsungwon/chapter2/#2.0/memo.txt
  jeongsungwon/chapter2/#2.2/ex.html
  jeongsungwon/chapter2/#2.2/memo.txt
  jeongsungwon/chapter2/#2.3/ex.html
  jeongsungwon/chapter2/#2.3/memo.txt
  jeongsungwon/chapter2/#2.4/ex.html
  jeongsungwon/chapter2/#2.4/memo.txt
  jeongsungwon/chapter2/#2.5/home.html
  jeongsungwon/chapter2/#2.5/home1.html
  jeongsungwon/chapter2/#2.6/home1.html
  jeongsungwon/chapter2/#2.6/test.jpg
  jeongsungwon/chapter2/#2.6/test_folder/test1.jpg
  jeongsungwon/chapter2/#2.7/ex.html
  jeongsungwon/chapter2/#2.8/ex1.html
  jeongsungwon/chapter2/#2.9/ex.html
Labels: JeongSungwon

#6 [README] Updated member name.
  README.md
Labels: LimHyeonjin

#4 1주차 회고록 등록 ( ~2.4 )
  heoyujin/1주차 회고록( ~2.4 ).md
Labels: HeoYujin

#13 project
  leejehwan/clone-project/chats.html
  leejehwan/clone-project/css/components/badge.css
  leejehwan/clone-project/css/components/icon-row.css
  leejehwan/clone-project/css/components/nav-bar.css
  leejehwan/clone-project/css/components/screen-header.css
  leejehwan/clone-project/css/components/status-bar.css
  leejehwan/clone-project/css/components/user-component.css
  leejehwan/clone-project/css/reset.css
  leejehwan/clone-project/css/screens/find.css
  leejehwan/clone-project/css/screens/friends.css
  leejehwan/clone-project/css/screens/login.css
  leejehwan/clone-project/css/screens/more.css
  leejehwan/clone-project/css/styles.css
  leejehwan/clone-project/css/variables.css
  leejehwan/clone-project/find.html
  leejehwan/clone-project/friends.html
  leejehwan/clone-project/index.html
  leejehwan/clone-project/more.html
  leejehwan/clone-project/screenshots/01.png
  leejehwan/clone-project/screenshots/02.png
  leejehwan/clone-project/screenshots/03.png
  leejehwan/clone-project/screenshots/04.png
  leejehwan/clone-project/screenshots/05.png
  leejehwan/clone-project/screenshots/06.png
  leejehwan/clone-project/screenshots/07.png
  leejehwan/clone-project/screenshots/09.png
Labels: LeeJehwan

#12 [Chapter4] upload ch4 code
  leejehwan/chapter4/4.0.Transitions.html
  leejehwan/chapter4/4.1 Transitions_part_Two.html
  leejehwan/chapter4/4.2.Transformations.html
  leejehwan/chapter4/4.3.Animations_part_One.html
  leejehwan/chapter4/4.4.Animations_part_Two.html
  leejehwan/chapter4/4.5.Media_Queries.html
  leejehwan/chapter4/4.6.Media_Queries_Recap.html
Labels: LeeJehwan

#10 [Chapter2] Added memoir for ch.2 and practice code.
  hamjins/chapter2/README.md
  hamjins/chapter2/home.html
  hamjins/chapter2/html-semantic.html
  hamjins/chapter2/tag-form.html
  hamjins/chapter3/README.md
  hamjins/chapter3/html-sample.html
  hamjins/chapter3/sample-block.html
  hamjins/chapter3/sample-border.html
  hamjins/chapter3/sample-classes.html
  hamjins/chapter3/sample-margin.html
  hamjins/chapter3/sample-padding.html
  hamjins/chapter3/style.css
  hamjins/images/notion1.PNG
  hamjins/images/notion2.PNG
  hamjins/images/임햄찌.PNG
Labels: LimHyeonjin

#17 [Chapter6] Upload ch6 code
  jeongsungwon/chapter6/clone-project/chats.html
  jeongsungwon/chapter6/clone-project/css/components/badge.css
  jeongsungwon/chapter6/clone-project/css/components/nav-bar.css
  jeongsungwon/chapter6/clone-project/css/components/screen-header.css
  jeongsungwon/chapter6/clone-project/css/components/status-bar.css
  jeongsungwon/chapter6/clone-project/css/components/user-component.css
  jeongsungwon/chapter6/clone-project/css/reset.css
  jeongsungwon/chapter6/clone-project/css/screens/find.css
  jeongsungwon/chapter6/clone-project/css/screens/friends.css
  jeongsungwon/chapter6/clone-project/css/screens/login.css
  jeongsungwon/chapter6/clone-project/css/style.css
  jeongsungwon/chapter6/clone-project/css/variables.css
  jeongsungwon/chapter6/clone-project/find.html
  jeongsungwon/chapter6/clone-project/friends.html
  jeongsungwon/chapter6/clone-project/index.html
Labels: JeongSungwon

#15 [README] Update README.md
  README.md
Labels: LeeJehwan

#18 [Project] clone coding to 6-31
  leejehwan/clone-project/chat1.html
  leejehwan/clone-project/chat2.html
  leejehwan/clone-project/chats.html
  leejehwan/clone-project/css/components/alt-screen-header.css
  leejehwan/clone-project/css/components/status-bar.css
  leejehwan/clone-project/css/screens/chat.css
  leejehwan/clone-project/css/screens/find.css
  leejehwan/clone-project/css/screens/more.css
  leejehwan/clone-project/css/screens/settings.css
  leejehwan/clone-project/css/styles.css
  leejehwan/clone-project/find.html
  leejehwan/clone-project/friends.html
  leejehwan/clone-project/more.html
  leejehwan/clone-project/settings.html
Labels: LeeJehwan

#11 Update 2nd Week Review
  heoyujin/1stWeek_2.0_2.4/README.md
  heoyujin/2ndweek_3.0_3.11/README.md
  heoyujin/3rdweek_3_12_3_17/README.md
Labels: HeoYujin

#19 Create 3주차.md
  Retrospective/3주차.md
Labels: LeeJehwan

#16 [Chapter4] Upload ch4 code
  jeongsungwon/chapter4/#4.0/ex.html
  jeongsungwon/chapter4/#4.0/memo.txt
  jeongsungwon/chapter4/#4.1/ex.html
  jeongsungwon/chapter4/#4.1/memo.txt
  jeongsungwon/chapter4/#4.2/ex.html
  jeongsungwon/chapter4/#4.2/memo.txt
  jeongsungwon/chapter4/#4.3/ex.html
  jeongsungwon/chapter4/#4.3/memo.txt
  jeongsungwon/chapter4/#4.4/ex.html
  jeongsungwon/chapter4/#4.4/memo.txt
  jeongsungwon/chapter4/#4.5/ex.html
  jeongsungwon/chapter4/#4.5/memo.txt
  jeongsungwon/chapter4/#4.6/ex.html
  jeongsungwon/chapter4/#4.6/memo.txt
Labels: JeongSungwon

#22 [Project] complete clone coding to 6-40
  leejehwan/clone-project/chat1.html
  leejehwan/clone-project/chat2.html
  leejehwan/clone-project/chats.html
  leejehwan/clone-project/css/components/nav-bar.css
  leejehwan/clone-project/css/components/no-mobile.css
  leejehwan/clone-project/css/components/screen-header.css
  leejehwan/clone-project/css/screens/chat.css
  leejehwan/clone-project/css/screens/find.css
  leejehwan/clone-project/css/screens/friends.css
  leejehwan/clone-project/css/styles.css
  leejehwan/clone-project/find.html
  leejehwan/clone-project/friends.html
  leejehwan/clone-project/img/games.png
  leejehwan/clone-project/img/music.webp
  leejehwan/clone-project/index.html
  leejehwan/clone-project/more.html
  leejehwan/clone-project/settings.html
Labels: LeeJehwan
