Repository Alpha-ka-JS/HTML-CSS-ARTIST, pull requests merged in 2020-10, with the labels that each got.

#34 [#3.SCSS] review SCSS
  leejehwan/css-master/3.scss/.babelrc
  leejehwan/css-master/3.scss/.gitignore
  leejehwan/css-master/3.scss/dist/css/styles.css
  leejehwan/css-master/3.scss/gulpfile.babel.js
  leejehwan/css-master/3.scss/index.html
  leejehwan/css-master/3.scss/package-lock.json
  leejehwan/css-master/3.scss/package.json
  leejehwan/css-master/3.scss/src/scss/_buttons.scss
  leejehwan/css-master/3.scss/src/scss/_mixins.scss
  leejehwan/css-master/3.scss/src/scss/_variables.scss
  leejehwan/css-master/3.scss/src/scss/styles.scss
Labels: LeeJehwan

#35 [Chapter6] Added clone project.
  hamjins/chapter3/sample-classes.html
  hamjins/kokoa/chapter2/README.md
  hamjins/kokoa/chapter2/assignment.html
  hamjins/kokoa/chapter2/home.html
  hamjins/kokoa/chapter2/html-semantic.html
  hamjins/kokoa/chapter2/tag-form.html
  hamjins/kokoa/chapter3/README.md
  hamjins/kokoa/chapter3/assignment-style.css
  hamjins/kokoa/chapter3/assignment1-style.css
  hamjins/kokoa/chapter3/assignment1.html
  hamjins/kokoa/chapter3/assignment2-style.css
  hamjins/kokoa/chapter3/assignment2.html
  hamjins/kokoa/chapter3/html-sample.html
  hamjins/kokoa/chapter3/sample-block.html
  hamjins/kokoa/chapter3/sample-border.html
  hamjins/kokoa/chapter3/sample-classes.html
  hamjins/kokoa/chapter3/sample-display.html
  hamjins/kokoa/chapter3/sample-flexbox.html
  hamjins/kokoa/chapter3/sample-margin.html
  hamjins/kokoa/chapter3/sample-padding.html
  hamjins/kokoa/chapter3/style.css
  hamjins/kokoa/chapter4/assignment-style.css
  hamjins/kokoa/chapter4/assignment.html
  hamjins/kokoa/clone-project/assignment-playlist.html
  hamjins/kokoa/clone-project/chat.html
  hamjins/kokoa/clone-project/chats.html
  hamjins/kokoa/clone-project/css/components/alt-screen-header.css
  hamjins/kokoa/clone-project/css/components/badge.css
  hamjins/kokoa/clone-project/css/components/icon-row.css
  hamjins/kokoa/clone-project/css/components/nav-bar.css
  hamjins/kokoa/clone-project/css/components/no-mobile.css
  hamjins/kokoa/clone-project/css/components/screen-header.css
  hamjins/kokoa/clone-project/css/components/status-bar.css
  hamjins/kokoa/clone-project/css/components/user-component.css
  hamjins/kokoa/clone-project/css/reset.css
  hamjins/kokoa/clone-project/css/screens/chat.css
  hamjins/kokoa/clone-project/css/screens/find.css
  hamjins/kokoa/clone-project/css/screens/friends.css
  hamjins/kokoa/clone-project/css/screens/login.css
  hamjins/kokoa/clone-project/css/screens/more.css
  hamjins/kokoa/clone-project/css/screens/settings.css
  hamjins/kokoa/clone-project/css/style.css
  hamjins/kokoa/clone-project/css/variables.css
  hamjins/kokoa/clone-project/find.html
  hamjins/kokoa/clone-project/friends.html
  hamjins/kokoa/clone-project/index.html
  hamjins/kokoa/clone-project/more.html
  hamjins/kokoa/clone-project/settings.html
  hamjins/kokoa/clone-project/style-book.css
  hamjins/kokoa/clone-project/style-playlist.css
  hamjins/kokoa/images/notion1.PNG
  hamjins/kokoa/images/notion2.PNG
  hamjins/kokoa/images/profile-ham.jpg
  hamjins/kokoa/images/임햄찌.PNG
Labels: LimHyeonjin

#36 [CSS] init css master result page
  .gitignore
  README.md
  jeongsungwon/css-master/README.md
  leejehwan/css-master/README.md
  leejehwan/css-master/clone-project/balenciaga/heel.jpg
  leejehwan/css-master/clone-project/balenciaga/index.css
  leejehwan/css-master/clone-project/balenciaga/index.html
  leejehwan/css-master/clone-project/special-offer-studio/index.css
  leejehwan/css-master/clone-project/special-offer-studio/index.html
  leejehwan/css-master/clone-project/special-offer-studio/logo.svg
Labels: LeeJehwan

#37 [CSS-Layout] Added css master directory(Part 1).
  hamjins/css-master/1.flexbox/1_life_before_flexbox.html
  hamjins/css-master/1.flexbox/2_first_rule_of_flexbox.html
  hamjins/css-master/1.flexbox/3_main_axis_and_cross_axis.html
  hamjins/css-master/1.flexbox/4_column_and_row.html
  hamjins/css-master/1.flexbox/css/1_life_before_flexbox.css
  hamjins/css-master/1.flexbox/css/2_first_rule_of_flexbox.css
  hamjins/css-master/1.flexbox/css/3_main_axis_and_cross_axis.css
  hamjins/css-master/1.flexbox/css/4_column_and_row.css
  hamjins/css-master/README.md
Labels: LimHyeonjin

#38 add Best_Horror_Scenes CSS
  jeongsungwon/css-master/clone-project/best-horror-scenes/.babelrc
  jeongsungwon/css-master/clone-project/best-horror-scenes/.gitignore
  jeongsungwon/css-master/clone-project/best-horror-scenes/dest/css/styles.css
  jeongsungwon/css-master/clone-project/best-horror-scenes/gulpfile.babel.js
  jeongsungwon/css-master/clone-project/best-horror-scenes/index.html
  jeongsungwon/css-master/clone-project/best-horror-scenes/package-lock.json
  jeongsungwon/css-master/clone-project/best-horror-scenes/package.json
  jeongsungwon/css-master/clone-project/best-horror-scenes/poster.png
  jeongsungwon/css-master/clone-project/best-horror-scenes/poster1.png
  jeongsungwon/css-master/clone-project/best-horror-scenes/poster2.png
  jeongsungwon/css-master/clone-project/best-horror-scenes/poster3.png
  jeongsungwon/css-master/clone-project/best-horror-scenes/src/scss/_variables.scss
  jeongsungwon/css-master/clone-project/best-horror-scenes/src/scss/reset.scss
  jeongsungwon/css-master/clone-project/best-horror-scenes/src/scss/styles.scss
  jeongsungwon/css-master/clone-project/best-horror-scenes/yarn.lock
Labels: JeongSungwon

#39 [CLONE1] upload best horror scenes
  leejehwan/css-master/3.scss/.gitignore
  leejehwan/css-master/clone-project/.babelrc
  leejehwan/css-master/clone-project/best-horror-scenes/dist/css/styles.css
  leejehwan/css-master/clone-project/best-horror-scenes/img/poster1.PNG
  leejehwan/css-master/clone-project/best-horror-scenes/img/poster2.PNG
  leejehwan/css-master/clone-project/best-horror-scenes/img/poster3.PNG
  leejehwan/css-master/clone-project/best-horror-scenes/img/poster4.PNG
  leejehwan/css-master/clone-project/best-horror-scenes/img/poster5.PNG
  leejehwan/css-master/clone-project/best-horror-scenes/img/poster6.PNG
  leejehwan/css-master/clone-project/best-horror-scenes/img/poster7.PNG
  leejehwan/css-master/clone-project/best-horror-scenes/img/poster8.PNG
  leejehwan/css-master/clone-project/best-horror-scenes/index.html
  leejehwan/css-master/clone-project/best-horror-scenes/src/scss/_variables.scss
  leejehwan/css-master/clone-project/best-horror-scenes/src/scss/reset.scss
  leejehwan/css-master/clone-project/best-horror-scenes/src/scss/styles.scss
  leejehwan/css-master/clone-project/gulpfile.babel.js
  leejehwan/css-master/clone-project/package-lock.json
  leejehwan/css-master/clone-project/package.json
Labels: LeeJehwan

#40 add 10x19 clone
  jeongsungwon/css-master/clone-project/10x19/.babelrc
  jeongsungwon/css-master/clone-project/10x19/.gitignore
  jeongsungwon/css-master/clone-project/10x19/dest/css/styles.css
  jeongsungwon/css-master/clone-project/10x19/gulpfile.babel.js
  jeongsungwon/css-master/clone-project/10x19/index.html
  jeongsungwon/css-master/clone-project/10x19/package-lock.json
  jeongsungwon/css-master/clone-project/10x19/package.json
  jeongsungwon/css-master/clone-project/10x19/picture.jpg
  jeongsungwon/css-master/clone-project/10x19/src/scss/_variables.scss
  jeongsungwon/css-master/clone-project/10x19/src/scss/reset.scss
  jeongsungwon/css-master/clone-project/10x19/src/scss/styles.scss
  jeongsungwon/css-master/clone-project/10x19/yarn.lock
Labels: JeongSungwon

#42 [10x19] add clone 10x19
  leejehwan/css-master/clone-project/10x19/dist/css/styles.css
  leejehwan/css-master/clone-project/10x19/img/center.PNG
  leejehwan/css-master/clone-project/10x19/img/logo.svg
  leejehwan/css-master/clone-project/10x19/index.html
  leejehwan/css-master/clone-project/10x19/src/scss/_variables.scss
  leejehwan/css-master/clone-project/10x19/src/scss/reset.scss
  leejehwan/css-master/clone-project/10x19/src/scss/styles.scss
Labels: LeeJehwan

#41 [CSS-Layout] Added chapter 1 example code(4~7).
  hamjins/css-master/1.flexbox/5_align_self_and_order.html
  hamjins/css-master/1.flexbox/6_wrap_nowrap_reverse_align-content.html
  hamjins/css-master/1.flexbox/7_flex-grow_flex-shrink.html
  hamjins/css-master/1.flexbox/8_flex-basis.html
  hamjins/css-master/1.flexbox/css/4_column_and_row.css
  hamjins/css-master/1.flexbox/css/5_align_self_and_order.css
  hamjins/css-master/1.flexbox/css/6_wrap_nowrap_reverse_align-content.css
  hamjins/css-master/1.flexbox/css/7_flex-grow_flex-shrink.css
  hamjins/css-master/1.flexbox/css/8_flex-basis.css
Labels: LimHyeonjin
